// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// animate on scroll

// .show-item {
//   opacity: 0;
//   &.__show {
//     opacity: 1;
//     &.show-left,
//     &.show-right,
//     &.show-bottom,
//     &.show-top {
//       transform: translate(0);
//     }
//     &.show-transition-1 {
//       transition: transform 0.8s, opacity 1s;
//     }
//     &.show-transition-2 {
//       transition: transform 1.2s, opacity 1.2s;
//     }
//     &.show-transition-3 {
//       transition: transform 1.6s, opacity 1.4s;
//     }
//     // &.progress-bar {
//     //     &:before {
//     //         content: "";
//     //         width: calc(var(--progressValue) * 1%);
//     //         transition: width 2s linear;
//     //     }
//     // }
//   }
// }
// .show-left {
//   transform: translateX(-100px);
// }
// .show-right {
//   transform: translateX(100px);
// }
// .show-bottom {
//   transform: translateY(100px);
// }
// .show-top {
//   transform: translateY(-50px);
// }

// .show-progress {
// }

.show-item {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.8s, opacity 1s;
  &.__show {
    opacity: 1;
    transform: translate(0);
  }
}