// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// copyright

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  &__name {
    font-size: 25px;
  }
  &__author {
    font-size: 20px;
  }
  &__author-text {
    color: gray;
  }
  &__author-link {}
  &__author-date {
    color: gray;
  }
}

.website-name {
}

.policy-link {
  color: brown;
  text-transform: uppercase;
  padding: 5px;
}
