// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// hover svg

// .hover-svg {
//   svg {
//     path {
//       transition: fill var(--transition-1);
//     }
//   }
//   @media (any-hover: hover) {
//     &:hover {
//       path {
//         fill: red;
//       }
//     }
//   }
// }

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// hover color

// .hover-color {
//   transition: color var(--transition-1);
//   @media (any-hover: hover) {
//     &:hover {
//       color: red;
//     }
//   }
// }

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// hover underline & background

.hover-underline-1,
.hover-underline-2,
.hover-background-1,
.hover-background-2 {
  position: relative;
  @media (any-hover: hover) {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--color-10)),
      to(var(--color-10))
    );
    background-image: linear-gradient(var(--color-10), var(--color-10));
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: var(--transition-2);
  }
  &:active {
    color: var(--color-10);
  }
}
.hover-underline-1,
.hover-underline-2 {
  @media (any-hover: hover) {
    background-size: 0 2px, auto;
    &:hover {
      color: var(--color-10);
      background-size: 100% 2px, auto;
    }
  }
}
.hover-background-1,
.hover-background-2 {
  @media (any-hover: hover) {
    background-size: 0 auto, auto;
    &:hover {
      background-color: var(--color-10);
      background-size: 100% auto, auto;
    }
  }
}
.hover-underline-2,
.hover-background-2 {
  @media (any-hover: hover) {
    background-position: left bottom;
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// hover typing text

*[data-typing-text] {
  position: relative;
  &:before {
    position: absolute;
    content: attr(data-typing-text);
    overflow: hidden;
    white-space: nowrap;
    transition: var(--transition-2);
  }
  transition: var(--transition-2);
  @media (any-hover: hover) {
    &:hover {
      color: inherit;
      &:before {
        color: var(--color-10);
        animation: typingAnimation var(--transition-2) steps(50) forwards;
      }
    }
  }
}
@keyframes typingAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// hover scale

// .hover-scale {
//   transition: var(--transition-2);
//   position: relative;
//   &:before {
//     position: absolute;
//     z-index: -1;
//     content: "";
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transition: var(--transition-2);
//     background: linear-gradient(
//         -45deg,
//         transparent 40%,
//         red 40%,
//         red 50%,
//         transparent 50%
//       )
//       80% 80% / 400% 400%;
//     animation: hoverScale 2s ease-in-out infinite;
//   }
//   @media (any-hover: hover) {
//     &:hover {
//       padding: 4px;
//       transform: scale(1.1);
//       box-shadow: 0 2px 4px #000, 0 8px 32px rgba(0, 0, 0, 0.5);
//     }
//   }
// }
// @keyframes hoverScale {
//   to {
//     background-position: 30% 30%;
//   }
// }

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

.hover-img {
  overflow: hidden;
  img {
    transition: var(--transition-2);
    @media (any-hover: hover) {
      &:hover {
        filter: opacity(50%);
        // filter: contrast(200%);
        // filter: blur(1px);
        transform: scale(1.2);
      }
    }
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// hover link

// .hover-link {
//   position: relative;
//   &:before {
//     position: absolute;
//     content: "";
//     top: 50%;
//     transform: translateY(-50%);
//     left: 10px;
//     background-color: red;
//     border-radius: 10px;
//     transform: scale(0);
//     transition: var(--transition-2);
//   }
//   transition: var(--transition-1);
//   @media (any-hover: hover) {
//     &:hover &:before {
//       transform: scale(1);
//       width: 100%;
//       height: 100%;
//     }
//   }
// }

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// hover circle

// .hover-circle {
//   padding: 5px;
//   position: relative;
//   &:before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border: 2px solid red;
//     border-radius: 50%;
//     opacity: 0;
//     transform: scaleY(0);
//     transition: all 0.3s ease 0s;
//   }
//   transition: all 0.3s ease 0s;
//   @media (any-hover: hover) {
//     &:hover {
//       &:before {
//         transform: scaleY(1);
//         opacity: 1;
//       }
//     }
//   }
// }
