<ul class="breadcrumbs">
  <input id="breadcrumbsSwitch" type="checkbox">
  <!-- <label class="breadcrumbs-overlay toggle-overlay" for="breadcrumbsSwitch"></label> -->
  <li class="breadcrumbs__item">
    <a class="breadcrumbs__link hover-underline-2 hover-link" href="index.html">Catalog</a>
  </li>
  <div class="breadcrumbs__line"></div>
  <li class="breadcrumbs__item">
    <a class="breadcrumbs__link hover-underline-2" href="#">Cards</a>
  </li>
  <div class="breadcrumbs__line"></div>
  <label class="breadcrumbs__current" for="breadcrumbsSwitch">
    Card
  </label>
</ul>