


<div class="total-counter">

  <input id="totalCounter1" type="checkbox" class="total-counter__switch">
  <input id="totalCounter2" type="checkbox" class="total-counter__switch">
  <input id="totalCounter3" type="checkbox" class="total-counter__switch">

  <label for="totalCounter1" class="total-counter__button total-counter__button-1">Button 1</label>
  <label for="totalCounter2" class="total-counter__button total-counter__button-2">Button 2</label>
  <label for="totalCounter3" class="total-counter__button total-counter__button-3">Button 3</label>

  <output class="total-counter__output"></output>

</div>