<nav class="pagination">
  <button class="pagination__arrow pagination__arrow-back"></button>
  <ul class="pagination__list">
    <li class="pagination__item">
      <a class="pagination__link hover-circle" href="#">1</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link hover-circle" href="#">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link hover-circle" href="#">3</a>
    </li>
    <li class="pagination__item">
      <span class="pagination__dots">...</span>
    </li>
    <li class="pagination__item">
      <a class="pagination__link hover-circle" href="#">15</a>
    </li>
  </ul>
  <button class="pagination__arrow pagination__arrow-forward"></button>
</nav>