<div class="pure-slider">

  <input class="full-size-switch" id="fullSizeSwitch" type="checkbox">
  <label class="full-size-overlay" for="fullSizeSwitch"></label>

  <input class="autoplay-switch" id="autoplaySwitch" type="checkbox">
  <label class="autoplay-button" for="autoplaySwitch"></label>

  <input class="pure-slider__switch" id="pureSliderSwitch1" type="radio" name="pureSlider" checked>
  <input class="pure-slider__switch" id="pureSliderSwitch2" type="radio" name="pureSlider">
  <input class="pure-slider__switch" id="pureSliderSwitch3" type="radio" name="pureSlider">
  <input class="pure-slider__switch" id="pureSliderSwitch4" type="radio" name="pureSlider">
  <input class="pure-slider__switch" id="pureSliderSwitch5" type="radio" name="pureSlider">

  <div class="pure-slider__dots">
    <label class="pure-slider__dot pure-slider__dot-1" for="pureSliderSwitch1"></label>
    <label class="pure-slider__dot pure-slider__dot-2" for="pureSliderSwitch2"></label>
    <label class="pure-slider__dot pure-slider__dot-3" for="pureSliderSwitch3"></label>
    <label class="pure-slider__dot pure-slider__dot-4" for="pureSliderSwitch4"></label>
    <label class="pure-slider__dot pure-slider__dot-5" for="pureSliderSwitch5"></label>
  </div>

  <div class="pure-slider__slide pure-slider__slide-1">
    <img class="pure-slider__slide-img" src="https://picsum.photos/200/300/?random" loading="lazy" alt="image">
    <div class="pure-slider__slide-information">
      <p class="pure-slider__slide-title">Lorem, ipsum dolor.</p>
      <p class="pure-slider__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam ea
        cupiditate consectetur voluptatibus nulla officia quibusdam? Quae, maiores illo perferendis commodi tenetur
        neque eligendi quas nulla rem, praesentium qui?
        Perferendis doloribus natus optio et ipsa aspernatur nemo, numquam earum. Dolores, et ratione voluptatum
        voluptatem modi est pariatur incidunt voluptate nulla dicta, aspernatur, fuga id. Consequatur cumque
        accusantium laboriosam nemo!</p>
    </div>
  </div>
  <div class="pure-slider__slide pure-slider__slide-2">
    <img class="pure-slider__slide-img" src="https://picsum.photos/200/300/?random" loading="lazy" alt="image">
    <div class="pure-slider__slide-information">
      <p class="pure-slider__slide-title">Lorem, ipsum dolor.</p>
      <p class="pure-slider__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam ea
        cupiditate consectetur voluptatibus nulla officia quibusdam? Quae, maiores illo perferendis commodi tenetur
        neque eligendi quas nulla rem, praesentium qui?
        Perferendis doloribus natus optio et ipsa aspernatur nemo, numquam earum. Dolores, et ratione voluptatum
        voluptatem modi est pariatur incidunt voluptate nulla dicta, aspernatur, fuga id. Consequatur cumque
        accusantium laboriosam nemo!</p>
    </div>
  </div>
  <div class="pure-slider__slide pure-slider__slide-3">
    <img class="pure-slider__slide-img" src="https://picsum.photos/200/300/?random" loading="lazy" alt="image">
    <div class="pure-slider__slide-information">
      <p class="pure-slider__slide-title">Lorem, ipsum dolor.</p>
      <p class="pure-slider__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam ea
        cupiditate consectetur voluptatibus nulla officia quibusdam? Quae, maiores illo perferendis commodi tenetur
        neque eligendi quas nulla rem, praesentium qui?
        Perferendis doloribus natus optio et ipsa aspernatur nemo, numquam earum. Dolores, Perferendis doloribus natus
        optio et ipsa aspernatur nemo, numquam earum. Dolores, et rati Perferendis doloribus natus optio et ipsa
        aspernatur nemo, numquam earum. Dolores, et ratiPerferendis doloribus natus optio et ipsa aspernatur nemo,
        numquam earum. Dolores, et ratiPerferendis doloribus natus optio et ipsa aspernatur nemo, numquam earum.
        Dolores, et ratiPerferendis doloribus natus optio et ipsa aspernatur nemo, numquam earum. Dolores, et rati et
        ratione voluptatum voluptatem modi est pariatur incidunt voluptate nulla dicta, aspernatur, fuga id.
        Consequatur cumque accusantium laboriosam nemo!</p>
    </div>
  </div>
  <div class="pure-slider__slide pure-slider__slide-4">
    <img class="pure-slider__slide-img" src="https://picsum.photos/200/300/?random" loading="lazy" alt="image">
    <div class="pure-slider__slide-information">
      <p class="pure-slider__slide-title">Lorem, ipsum dolor.</p>
      <p class="pure-slider__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam ea
        cupiditate consectetur voluptatibus nulla officia quibusdam? Quae, maiores illo perferendis commodi tenetur
        neque eligendi quas nulla rem, praesentium qui?
        Perferendis doloribus natus optio et ipsa aspernatur nemo, numquam earum. Dolores, et ratione voluptatum
        voluptatem modi est pariatur incidunt voluptate nulla dicta, aspernatur, fuga id. Consequatur cumque
        accusantium laboriosam nemo!</p>
    </div>
  </div>
  <div class="pure-slider__slide pure-slider__slide-5">
    <img class="pure-slider__slide-img" src="https://picsum.photos/200/300/?random" loading="lazy" alt="image">
    <div class="pure-slider__slide-information">
      <p class="pure-slider__slide-title">Lorem, ipsum dolor.</p>
      <p class="pure-slider__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam ea
        cupiditate consectetur voluptatibus nulla officia quibusdam? Quae, maiores illo perferendis commodi tenetur
        neque eligendi quas nulla rem, praesentium qui?
        Perferendis doloribus natus optio et ipsa aspernatur nemo, numquam earum. Dolores, et ratione voluptatum
        voluptatem modi est pariatur incidunt voluptate nulla dicta, aspernatur, fuga id. Consequatur cumque
        accusantium laboriosam nemo!</p>
    </div>
  </div>

  <label for="pureSliderSwitch5" class="pure-slider__arrow pure-slider__arrow-prev pure-slider__arrow-1"></label>
  <label for="pureSliderSwitch5" class="pure-slider__arrow pure-slider__arrow-next pure-slider__arrow-4"></label>
  <label for="pureSliderSwitch4" class="pure-slider__arrow pure-slider__arrow-prev pure-slider__arrow-5"></label>
  <label for="pureSliderSwitch4" class="pure-slider__arrow pure-slider__arrow-next pure-slider__arrow-3"></label>
  <label for="pureSliderSwitch3" class="pure-slider__arrow pure-slider__arrow-prev pure-slider__arrow-4"></label>
  <label for="pureSliderSwitch3" class="pure-slider__arrow pure-slider__arrow-next pure-slider__arrow-2"></label>
  <label for="pureSliderSwitch2" class="pure-slider__arrow pure-slider__arrow-prev pure-slider__arrow-3"></label>
  <label for="pureSliderSwitch2" class="pure-slider__arrow pure-slider__arrow-next pure-slider__arrow-1"></label>
  <label for="pureSliderSwitch1" class="pure-slider__arrow pure-slider__arrow-prev pure-slider__arrow-2"></label>
  <label for="pureSliderSwitch1" class="pure-slider__arrow pure-slider__arrow-next pure-slider__arrow-5"></label>
</div>