<div class="choice">
  
  <input id="choiceSwitch1" class="choice__switch" name="choice" type="radio" checked>
  <input id="choiceSwitch2" class="choice__switch" name="choice" type="radio">
  <input id="choiceSwitch3" class="choice__switch" name="choice" type="radio">
  <input id="choiceSwitch4" class="choice__switch" name="choice" type="radio">
  <input id="choiceSwitch5" class="choice__switch" name="choice" type="radio">

  <input id="choiceDropSwitch" type="checkbox">
  <label class="choice-drop-button" for="choiceDropSwitch">Сhoose a option</label>

  <label class="choice-overlay" for="choiceDropSwitch"></label>
  
  <div class="choice__select">
    <label class="choice__select-option choice__select-option-1" data-display='' for="choiceSwitch1">Option 1</label>
    <label class="choice__select-option choice__select-option-2" data-display='' for="choiceSwitch2">Option 2</label>
    <label class="choice__select-option choice__select-option-3" data-display='' for="choiceSwitch3">Option 3</label>
    <label class="choice__select-option choice__select-option-4" data-display='' for="choiceSwitch4">Option 4</label>
    <label class="choice__select-option choice__select-option-5" data-display='none' for="choiceSwitch5">Option 5</label>
  </div>

</div>




<select>
  <option>Option 1</option>
  <option>Option 2</option>
  <option>Option 3</option>
  <option>Option 4</option>
  <option>Option 5</option>
</select>