<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Дата рождения</th>
      <th>E-mail</th>
      <th>Телефон</th>
      <th>Страна</th>
      <th>Город</th>
      <th>Код</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Bergnaum</td>
      <td>Abbie</td>
      <td>01.01.1970</td>
      <td>morton91@hammes.com</td>
      <td>+9069769550011</td>
      <td>Germany</td>
      <td>Berlin</td>
      <td>DE</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Bergnaum</td>
      <td>Abbie</td>
      <td>01.01.1970</td>
      <td>morton91@hammes.com</td>
      <td>+9069769550011</td>
      <td>Germany</td>
      <td>Berlin</td>
      <td>DE</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Bergnaum</td>
      <td>Abbie</td>
      <td>01.01.1970</td>
      <td>morton91@hammes.com</td>
      <td>+9069769550011</td>
      <td>Germany</td>
      <td>Berlin</td>
      <td>DE</td>
    </tr>
  </tbody>
</table>



<div class="table">
  <div class="table__header">
    <div class="table__header-item">#</div>
    <div class="table__header-item">Фамилия</div>
    <div class="table__header-item">Имя</div>
    <div class="table__header-item">Дата рождения</div>
    <div class="table__header-item">E-mail</div>
    <div class="table__header-item">Телефон</div>
    <div class="table__header-item">Страна</div>
    <div class="table__header-item">Город</div>
    <div class="table__header-item">Код</div>
  </div>
  <div class="table__main">
    <div class="table-item">
      .table-item
    </div>
  </div>
</div>