<div class="tabs">

  <input id="tabsSwitch1" class="tabs__switch" name="tabs" type="radio" checked>
  <input id="tabsSwitch2" class="tabs__switch" name="tabs" type="radio">
  <input id="tabsSwitch3" class="tabs__switch" name="tabs" type="radio">
  <input id="tabsSwitch4" class="tabs__switch" name="tabs" type="radio">
  <input id="tabsSwitch5" class="tabs__switch" name="tabs" type="radio">

  <input id="tabsDropSwitch" type="checkbox">
  <label class="tabs-drop-button" for="tabsDropSwitch">Choose a tab</label>

  <!-- <div class="tabs__slider">
    <p class="tabs__slider-title tabs__slider-title-1">Title 1</p>
    <p class="tabs__slider-title tabs__slider-title-2">Title 2</p>
    <p class="tabs__slider-title tabs__slider-title-3">Title 3</p>
    <p class="tabs__slider-title tabs__slider-title-4">Title 4</p>
    <p class="tabs__slider-title tabs__slider-title-5">Title 5</p>
  </div> -->

  <div class="tabs__navigation">
    <label class="tabs__navigation-button tabs__navigation-button-1" data-display='block' for="tabsSwitch1">Button 1</label>
    <label class="tabs__navigation-button tabs__navigation-button-2" data-display='block' for="tabsSwitch2">Button 2</label>
    <label class="tabs__navigation-button tabs__navigation-button-3" data-display='block' for="tabsSwitch3">Button 3</label>
    <label class="tabs__navigation-button tabs__navigation-button-4" data-display='none' for="tabsSwitch4">Button 4</label>
    <label class="tabs__navigation-button tabs__navigation-button-5" data-display='none' for="tabsSwitch5">Button 5</label>
  </div>

  <div class="tabs__content">
    <div class="tabs__content-item tabs__content-item-1">
      Content 1
    </div>
    <div class="tabs__content-item tabs__content-item-2">
      Content 2
    </div>
    <div class="tabs__content-item tabs__content-item-3">
      Content 3
    </div>
    <div class="tabs__content-item tabs__content-item-4">
      Content 4
    </div>
    <div class="tabs__content-item tabs__content-item-5">
      Content 5
    </div>
  </div>

</div>

<div class="js-tabs">
  <div class="js-tabs__navigation">
    <button class="js-tabs__navigation-button" data-tab=".js-item-1">Button 1</button>
    <button class="js-tabs__navigation-button" data-tab=".js-item-2">Button 2</button>
    <button class="js-tabs__navigation-button" data-tab=".js-item-3">Button 3</button>
    <button class="js-tabs__navigation-button" data-tab=".js-item-4">Button 4</button>
    <button class="js-tabs__navigation-button" data-tab=".js-item-5">Button 5</button>
  </div>
  <div class="js-tabs__content">
    <div class="js-item-1 js-tabs__content-item">Content 1</div>
    <div class="js-item-2 js-tabs__content-item">Content 2</div>
    <div class="js-item-3 js-tabs__content-item">Content 3</div>
    <div class="js-item-4 js-tabs__content-item">Content 4</div>
    <div class="js-item-5 js-tabs__content-item">Content 5</div>
  </div>
</div>