// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// catalog

.catalog {
  &__container {
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// catalog list

.catalog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }
  &__image {
    padding-bottom: 70%;
  }
  &__title {
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  &__text {
    flex: 1 1 auto;
    font-size: 15px;
  }
  &__link {
    align-self: start;
    font-size: 20px;
    background-color: brown;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }
}
