// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// error 404

.error-404 {
  height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
  background-color: whitesmoke;
  &__info {
    text-align: center;
    padding: 2rem;
  }
  &__info-title {
    text-align: center;
    font-size: 10rem;
    line-height: 150%;
  }
  &__info-text {
    color: gray;
    font-size: 4rem;
    line-height: 100%;
  }
}
