// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// footer
.footer {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 13rem;
    @media (max-width: 1200px) {
      gap: 30px;
    }
    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
  }
  &__logo {
    margin-bottom: 16px;
  }
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

.footer-column {
  &:nth-child(1) {
    flex: 1 1 auto;
  }
  &:nth-child(2) {
    flex: 0 0 570px;
    @media (max-width: 992px) {
      flex: 1 1 100%;
    }
  }
  &__text {
    color: var(--color-2);
    font: var(--font-2);
    margin-bottom: 3.6rem;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 7rem;
    flex-wrap: wrap;
    @media (max-width: 992px) {
      text-align: center;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    p {
      color: var(--color-2);
      font: var(--font-3);
    }
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

.footer-contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  &__item {
    display: flex;
    gap: 12px;
    img {
      flex: 0 0 48px;
      height: 48px;
    }
  }
  &__item-info {
    p {
      font: var(--font-7);
      color: var(--color-2);
      margin-bottom: 2px;
    }
    a {
      font: var(--font-5);
    }
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

.socials {
  display: flex;
  gap: 8px;
  li {
    flex: 0 0 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.774);
  }
}
