// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// about

.hero {
  padding: 15px 0;
  &__container {
    // display: grid;
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: 768px) {
    flex-direction: column;
    }
    @media (min-width: 769px) {

      // grid-template-columns: 40% 60%;
      // grid-template-columns: 1fr 670px;
    }
  }
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

  &__information {
    flex: 1 1 auto;
    position: sticky;
    // z-index: -1;
    top: 20px;
    // background-color: rgba(#000, 0.5);
    // background-color: var(--color-12);
    // padding: 10px 0;
    // border-radius: 10px;
    // z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
  }
  &__information-title {
    font: var(--font-10);
    span {
      color: var(--color-10);
    }
  }
  &__information-text {
    font: var(--font-5);
  }
  &__information-buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  &__information-button {
    font: var(--font-6);
    padding: 2rem 6rem;
  }

  .create-button {
    // background: url(../img/logo.png) left 22px top 50%/20px no-repeat;
    border: 1px solid var(--color-1);
    border-radius: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--color-12);
   gap: 6px;
&__icon {
  flex: 0 0 15px;
  height: 15px;
  background-color: var(--color-1);
  clip-path: polygon(0 45%, 45% 45%, 45% 0, 55% 0, 55% 45%, 100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0 55%);
}
&__text {}
  }

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================



  &__media {
    
    // width: 100%;
    flex: 0 0 670px;
    height: 57rem;
    border-radius: 10px;
    overflow: hidden;
    @media (max-width: 1200px) {
      flex: 0 1 670px;
    }
    @media (max-width: 768px) {
      flex: 1 1 100%;
    }
  }

  img {}

}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
