// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// accordion

.accordion {
  max-width: 500px;
  margin: 5px auto;
  overflow: hidden;
  &__switch {
    display: none;
    &:checked ~ .accordion__content {
      transform: translateX(0);
      max-height: 100vh;
      opacity: 1;
      padding: 10px;
      margin: 5px 0 0 0;
    }
    &:checked ~ .accordion__button {
      background-color: brown;
      cursor: default;
    }
    &:checked ~ .accordion__button:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  &__button {
    display: block;
    padding: 10px 30px 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    transition: background-color var(--transition-2);
    @media (any-hover: hover) {
      &:hover {
        background-color: red;
      }
    }
    position: relative;
    &:after {
      position: absolute;
      content: "";
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      clip-path: polygon(0 0, 50% 100%, 100% 0);
      background-color: white;
      transition: var(--transition-2);
    }
  }
  &__content {
    background-color: brown;
    color: white;
    border-radius: 10px;
    transition: transform var(--transition-2), max-height var(--transition-2),
      opacity var(--transition-2), padding var(--transition-2),
      margin var(--transition-2);
    transform: translateX(-100%);
    max-height: 0;
    opacity: 0;
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
