// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// breadcrumbs switch

#breadcrumbsSwitch {
  display: none;
  @media (max-width: 1200px) {
    &:checked ~ .breadcrumbs__item,
    &:checked ~ .breadcrumbs__line {
      z-index: 10;
      opacity: 1;
      max-height: 100vh;
      transform: translateY(0);
    }
    &:checked ~ .breadcrumbs__current:before {
      z-index: 10;
      transform: translateY(-50%) rotate(180deg);
    }
    // &:checked ~ .breadcrumbs-overlay {
    //   z-index: 9;
    //   opacity: 1;
    //   visibility: visible;
    // }
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// breadcrumbs

.breadcrumbs {
  @media (min-width: 1201px) {
    display: inline-flex;
    align-items: center;
    gap: 1.4rem;
  }
  &__item,
  &__line {
    @media (max-width: 1200px) {
      position: relative;
      transition: var(--transition-2);
      opacity: 0;
      max-height: 0;
      transform: translateY(100%);
    }
  }
  &__link {
  }
  &__line {
    background-color: brown;
    width: 2px;
    height: 15px;
    @media (min-width: 1201px) {
      transform: rotate(25deg);
    }
  }
  &__current {
    @media (min-width:1201px) {
      cursor: default;
    }
    display: block;
    color: gray;
    @media (max-width: 1200px) {
      padding-left: 15px;
    }
    position: relative;
    &:before {
      position: absolute;
      content: "";
      left: -2px;
      top: 50%;
      transform: translateY(-50%);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      width: 8px;
      height: 8px;
      background-color: brown;
      transition: var(--transition-2);
      @media (min-width: 1201px) {
        display: none;
      }
    }
  }
}
