// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// counter

.counter-wrapper {
  font-size: 20px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: gray;
  &__control {
    width: 10px;
    height: 10px;
    padding: 5px;
  }
  &__minus {
    background: var(--minus);
  }
  &__plus {
    background: var(--plus);
  }
  &__current {
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// cart

.cart {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  &__icon {
    width: 30px;
    height: 30px;
  }
  &__title {
    text-align: center;
    margin: 10px 0;
  }
  &__wrapper {
  }
  &__total {
  }
  &__total-number {
  }
  &__total-currency {
  }
}
.cart-item {
  margin: 10px 0 0 0;
  width: 200px;
  &__image {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
  &__information {
  }
  &__information-title {
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__delete {
    background: var(--cross);
    width: 30px;
    height: 30px;
  }
}
