// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

#totalCounter1:checked ~ .total-counter__button-1,
#totalCounter2:checked ~ .total-counter__button-2,
#totalCounter3:checked ~ .total-counter__button-3 {
  counter-increment: totall;
  background-color: brown;
}

.total-counter {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 20px auto;
}
.total-counter__switch {
  display: none;
}
.total-counter__button {
  transition: var(--transition-2);
  background-color: gray;
  color: white;
  border-radius: 10px;
  padding: 10px;
  @media (any-hover: hover) {
    &:hover {
      background-color: red;
    }
  }
}
.total-counter__output {
  font-size: 20px;
  color: brown;
  &::before {
    content: counter(totall);
  }
}
