// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

.top-section {
}

// list row image text

.top {
  transition: padding-bottom var(--transition-1);
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  // grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  &__item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    padding: 1.6rem;
  }
  &__item-image {
    flex: 0 0 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
  }
  &__info {
    position: sticky;
    left: 10px;
  }
  &__info-label {
    font: var(--font-6);
  }
  &__info-author {
    color: var(--color-2);
  }
}
