// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// load more

#loadMore {
  display: none;
  // &:checked ~ .load-more-button {display: none;}
  &:checked ~ .catalog-list .catalog-list__item {
    display: block;
    &:nth-child(1n + 4) {
      animation: dropAnimation 1s ease-in-out forwards;
    }
  }
}
.catalog-list__item {
  transition: var(--transition-2);
  &:nth-child(1n + 4) {
    display: none;
  }
}
.load-more-button {
  margin-top: 30px;
  display: inline-block;
  padding: 10px;
  background-color: brown;
  color: white;
  border-radius: 10px;
  transition: background-color var(--transition-1);
  @media (any-hover: hover) {
    &:hover {
      background-color: red;
    }
  }
}
@keyframes dropAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    max-height: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    max-height: 100vh;
  }
}
