// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// news

.news {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 50px;
  &__post {
    padding: 5px;
    display: grid;
    gap: 5px;
  }
  &__post-top {
    display: flex;
    justify-content: space-between;
  }
  &__post-image {
    padding-bottom: 80%;
  }
  &__post-title {}
  &__post-text {}
}

// news categories

.news-categories {
  display: flex;
  gap: 5px;
  &__item {}
  &__link {
    color: brown;
    font-weight: 700;
  }
}

// news date

.news-date {
}
