// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// pagination

.pagination {
  display: flex;
  align-items: center;
  gap: 5px;
  &__arrow {
    width: 10px;
    height: 10px;
    background-color: brown;
    transition: background-color var(--transition-1);
    @media (any-hover: hover) {
    &:hover {
    background-color: red;
    }
    }
  }
  &__arrow-back {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__item {
  }
  &__link {
    font-size: 20px;
  }
  &__dots {
  }
  &__arrow-forward {
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// pagination wordpess

.pagination {
  &.screen-reader-text {}
  &.nav-links {}
  &.page-numbers {}
  &.current {}
  &.prev {}
  &.next {}
}
