// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// popular
.popular {
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
 @media (min-width:481px) {
  grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
 }
  // display: flex;
  gap: 30px;
  &__item {
    // flex: 0 1 33.33333%;
    @media (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    @media (max-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__item-image {
    width: 100%;
    padding-bottom: 100%;
    &:nth-child(1) {
      border-radius: 24px 24px 4px 24px;
    }
    &:nth-child(2) {
      border-radius: 24px 24px 24px 4px;
    }
    &:nth-child(3) {
      border-radius: 24px 4px 24px 24px;
    }
    &:nth-child(4) {
      border-radius: 4px 24px 24px 24px;
    }
  }
  &__item-info {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    // @media (max-width: 480px) {
    //   flex-direction: column;
    // }
  }
  &__item-top {
    @media (max-width: 992px) {
      flex-direction: row;
      text-align: left;
      justify-content: start;
    }
  }
}
// .popular .slider-top {
//   // justify-content: space-between;
//   align-self: start;
//   justify-content: start;
// }