// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// <div class="progress-bar show-item" style="--progressValue: 40"></div>

.progress-bar {
  display: flex;
  height: 50px;
  background: gray;
  position: relative;  
  &:before {
      content: "";
      width: calc(var(--progressValue) * 1%);
      transition: width var(--transition-2);
      background: gold;
  }  
  &:after {
      position: absolute;
      content: counter(value)"%";        
      counter-reset: value var(--progressValue);
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);     
      color: black;
  }
}