// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// rating

.reviews-rating {
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  &[data-rating="1"] .reviews-rating__item:nth-child(n + 5),
  &[data-rating="2"] .reviews-rating__item:nth-child(n + 4),
  &[data-rating="3"] .reviews-rating__item:nth-child(n + 3),
  &[data-rating="4"] .reviews-rating__item:nth-child(n + 2),
  &[data-rating="5"] .reviews-rating__item:nth-child(n + 1) {
    color: brown;
  }
  .reviews-rating__item {
    font-size: 20px;
    color: gray;
    cursor: pointer;
    transition: var(--transition-1);
    @media (any-hover: hover) {
      &:hover,
      &:hover ~ .reviews-rating__item {
        color: red;
      }
    }
  }
}
