// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// reviews

.reviews {
  &__container {
  }
  &__title {
    margin-bottom: 4rem;
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// reviews list

.reviews {
  display: grid;
  gap: 30px;
  @media (min-width: 1201px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
    position: relative;
    transition: transform var(--transition-2);
    perspective: 1000px;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
        z-index: 2;
      }
    }
  }
  &__item-over {
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
    &:nth-child(1) {
      left: 0;
      top: 0;
      @media (any-hover: hover) {
        &:hover ~ .reviews__item-content {
          transform: rotateX(-20deg) rotateY(20deg);
        }
      }
    }
    &:nth-child(2) {
      left: 33.333%;
      top: 0;
      @media (any-hover: hover) {
        &:hover ~ .reviews__item-content {
          transform: rotateX(-20deg) rotateY(0deg);
        }
      }
    }
    &:nth-child(3) {
      left: 66.666%;
      top: 0;
      @media (any-hover: hover) {
        &:hover ~ .reviews__item-content {
          transform: rotateX(-20deg) rotateY(-20deg);
        }
      }
    }
    &:nth-child(4) {
      left: 0;
      top: 33.333%;
      @media (any-hover: hover) {
        &:hover ~ .reviews__item-content {
          transform: rotateX(0deg) rotateY(20deg);
        }
      }
    }
    &:nth-child(5) {
      left: 33.333%;
      top: 33.333%;
      @media (any-hover: hover) {
        &:hover ~ .reviews__item-content {
          transform: rotateX(0deg) rotateY(0deg);
        }
      }
    }
    &:nth-child(6) {
      left: 66.666%;
      top: 33.333%;
      @media (any-hover: hover) {
        &:hover ~ .reviews__item-content {
          transform: rotateX(0deg) rotateY(-20deg);
        }
      }
    }
    &:nth-child(7) {
      left: 0;
      top: 66.666%;
      @media (any-hover: hover) {
        &:hover ~ .reviews__item-content {
          transform: rotateX(20deg) rotateY(20deg);
        }
      }
    }
    &:nth-child(8) {
      left: 33.333%;
      top: 66.666%;
      @media (any-hover: hover) {
        &:hover ~ .reviews__item-content {
          transform: rotateX(20deg) rotateY(0deg);
        }
      }
    }
    &:nth-child(9) {
      left: 66.666%;
      top: 66.666%;
      @media (any-hover: hover) {
        &:hover ~ .reviews__item-content {
          transform: rotateX(20deg) rotateY(-20deg);
        }
      }
    }
  }
  &__item-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;
    background: rgba(0, 0, 0, 0.2);
    transition: var(--transition-2);
  }
  &__item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    margin-bottom: 12px;
  }
  &__item-name {
  }
  &__item-date {
  }
  &__item-text {
    padding-right: 10px;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      width: 4px;
      height: 9.2rem;
      border-radius: 100px;
    }
  }
}
