// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// today

.today {
  transition: padding-bottom var(--transition-1);
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  @media (min-width: 481px) {
    grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
  }
  gap: 3rem;
}
.today-rating {
  display: flex;
  justify-content: space-around;

}

.today-bottom {
  background-color: var(--color-12);
  position: relative;
  z-index: 1;
  padding-top: 5.6rem;
  display: flex;
  justify-content: center;
  &__button {
    padding: 2.4rem 5.6rem;
    font: var(--font-6);
    gap: 8px;
  }
}


// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

